
@{
    ViewData["Title"] = "About";
}

<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="~/css/Aboutus.css" />
</head>
<body> 

         <span>
            <p style="float: left;"><img src="~/lib/ninad.png" alt="Profile picture of Ninad" height="202" width="202" border="1px"></p>
        </span>
        <span style="padding: 100px">
            <h2> Ninad Mehta</h2>
            <p>
                Ninad Mehta worked as a Software Developer at GridScape Solutions for an year.
                He is currently pursuing his Masters in Business Analytics and Information Systems at
                University of South Florida. 
            </p>
        </span>
        <a class="linkedin" href="https://www.linkedin.com/in/ninad-mehta-615bb4167/">Linkedin</a>
        <br><br><br><br><br><br>
    </div>
    <br><br>
    <div>
        <p style="float: left;"><img src="~/lib/abhishek.png" alt="Profile picture of Abhishek" height="202" width="202" border="1px"></p>
        <span style="padding: 100px">
            <h2> Abhishek Singh</h2>

            <p>
                Abhishek Singh worked as a Data Engineer for 2.5 years at IBM. He is a focused and diligent student, whos's
                currently pursuing Masters in Business Analytics and Information Systems at University of South Florida.
            </p>
        </span>
        <a class="linkedin" href="https://www.linkedin.com/in/abhis1809">Linkedin</a>
        <br><br><br><br><br><br>
    </div>
    <br><br>
    <div>
        <p style="float: left;"><img src="~/lib/pranay.png" alt="Profile picture of Pranay" height="202" width="202" border="1px"></p>
        <span style="padding: 100px">
            <h2> Pranay Rao Allampalli</h2>
            <p>
                A Grad student of Business Analytics and Information Systems and a data science
                enthusiast having a demonstrable history of work experience of 2 years as an IT Executive at Reliance Industries Ltd.
            </p>
        </span>

        <a class="linkedin" href="https://www.linkedin.com/in/apranayrao/">Linkedin</a>

        <br><br><br>
    </div>
    <h2>
        <a class="github" href="https://github.com/apranayrao/Assignment_LookandFeel" style="margin-left:10px">Github</a>
    </h2>
    <br>
    <h2>Self Reflections</h2>
    <p>
        It was a great experience working with HTML, CSS & Javascript to make a functioning web page with an interesting dataset from data.gov. We understood the different elements in HTML 5 & how to create a well visualized website.
</body>
