

@{
    ViewData["Title"] = "Chart";
}

@model ChartModel

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Inventory</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
</head>
<body>
    

    <canvas id="barchartexample" width="800" height="450"></canvas>

    <script>
    new Chart(document.getElementById("barchartexample"), {
      type: '@Model.ChartType',
      data: {
        labels: [@Html.Raw(@Model.Labels)],
        datasets: [
          {
            label: "Count",
            backgroundColor: [@Html.Raw(@Model.Colors)],
            data: [@Model.Data]
          }
        ]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: '@Model.Title'
        }
      }
    });
    </script>
</body>
</html>