@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1>
        About FDA and Adverse Events Reporting
    </h1>
</div>

<div>
    <p>
        The U.S. Food and Drug Administration (FDA) regulates food products in  the United States, working to assure that the food supply is safe, sanitary, wholesome, and honestly labeled. FDA's responsibility covers all domestic and imported food except meat, poultry, and frozen, dried, and liquid eggs, and the labeling of alcoholic beverages (above 7% alcohol). It even includes dietary supplements, bottled water, food additives, infant formulas, and other food products. The FDA also regulates all cosmetic products and ingredients in the United States, including hair products, makeup, soaps, and lotions.
    </p>
    <p>
        Reporting of adverse events by healthcare professionals and consumers is voluntary in the United States. FDA receives some adverse event reports directly from healthcare professionals (such as physicians, pharmacists, nurses and others) and consumers (such as patients, family members, lawyers and others). Healthcare professionals and consumers may also report adverse events to the products’ manufacturers. If a manufacturer receives an adverse event report, it is normally required to send the report to FDA.
    </p>
    <p>
        An adverse event is submitted to the FDA to report adverse health effects and product complaints about foods, dietary supplements, and cosmetics. These may include side effects, product use errors, and product quality problems. Reporting is voluntary for beverages, conventional foods, dietary supplements, and cosmetics, which means that manufacturers and citizens may report them at any time but are not obligated to. For dietary supplements, manufacturers, packers, and distributers must notify the FDA if they receive reports about serious adverse events in connection with the use of their products.
    </p>
    <p>
        Each report received regarding an individual that experiences an adverse event is assigned a unique report number. Even with mandatory reporting of serious adverse events for dietary supplements, generally only a small fraction of adverse events associated with any product is reported.
    </p>
</div>



<div class="text-center">
    <p><a asp-area="" asp-controller="Home" asp-action="Products">View Food Products from FDA API</a></p>
    <p> Add, Delete or Edit your Food Products List Here:  <a asp-area="" asp-controller="Products" asp-action="Create">Food Products</a></p>
</div>
 